*{
box-sizing:border-box;
font-family:Arial;
}

body{
margin:0;
background:#eef2ff;
transition:.3s;
}


header{
background:#4f46e5;
color:white;
padding:20px;
display:flex;
justify-content:space-between;
}


button{
background:#4f46e5;
color:white;
border:none;
padding:10px;
border-radius:8px;
cursor:pointer;
}


.container{
width:90%;
max-width:900px;
margin:auto;
}


.card,.box{
background:white;
padding:20px;
margin:20px 0;
border-radius:15px;
box-shadow:0 5px 15px #aaa;
}


input,select{
width:100%;
padding:12px;
margin:10px;
border-radius:8px;
}


.dashboard{
display:flex;
gap:15px;
}


.box{
flex:1;
text-align:center;
}


.task{
background:#f8fafc;
padding:15px;
margin:10px;
border-radius:10px;
}


.completed{
text-decoration:line-through;
opacity:.5;
}


/* dark mode */

.dark{
background:#111827;
color:white;
}

.dark .card,
.dark .box{
background:#1f2937;
color:white;
}
